<div class="app-ability">
  <h1>ABILITIES</h1>
  <span>total: {{ ability_count }}</span>
  <!-- <br />
  <span>pokemons previous: {{ ability_previous }}</span>
  <br />
  <span>pokemons next: {{ ability_next }}</span>
  <br /> -->
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let data of ability_results; let i = index" class="table-success">
      <tr>
        <th scope="row" style="width: 25px;">{{ i + 1 }}</th>
        <td scope="row">{{ data["name"]}}</td>
        <td scope="row" style="width: 100px;">
          <button class="btn btn-dark">-></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
