<div class="app-type">
  <p>TYPES</p>
  <span>pokemons count: {{ type_count }}</span>
  <br />
  <span>pokemons previous: {{ type_previous }}</span>
  <br />
  <span>pokemons next: {{ type_next }}</span>
  <br />
  <div class="row">
    <div *ngFor="let data of type_results; let i = index" class="col-md-6">
      <div class="card-deck">
        <div class="card bg-danger">
          <div class="card-body text-center">
            <div>{{ i + 1 }}</div>
            <div>
              {{ data["name"] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
