<div class="app-item">
  <h1>ITEMS</h1>
  <span>total: {{ item_count }}</span>
  <!-- <br />
  <span>pokemons previous: {{ item_previous }}</span>
  <br />
  <span>pokemons next: {{ item_next }}</span>
  <br /> -->

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of item_results; let i = index" class="table-success">
      <tr>
        <th scope="row" style="width: 25px;">{{ i + 1 }}</th>
        <td scope="row">{{ data["name"]}}</td>
      </tr>
    </tbody>
  </table>


</div>
