<div class="app-root">
  <div class="row m-0 bg-dark sticky-top">
    <div class="col-12 col-md-12 col-lg-12">
      <button
        class="btn btn-success col-sm-12 p-0"
        style="width: 70px"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menuCollapse"
        aria-expanded="false"
        aria-controls="menuCollapse"
      >
        <!-- <mat-icon>menu</mat-icon> -->
        <img
          src="assets/img/pokemon.png"
          alt="pokeLogo"
          style="width: 32px; height: 32px"
        />
        <!-- MENU -->
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <!-- MENU COLLAPSE -->
    <div
      id="menuCollapse"
      class="collapse collapse-vertical col-12 col-md-12 col-lg-12 p-0"
    >
      <nav class="navbar mt-0 p-0">
        <button
          [routerLink]="'/'"
          class="btn btn-dark col-12"
          style="background-color: rgb(60, 66, 69)"
        >
          <mat-icon>home</mat-icon>
          HOME PAGE
        </button>
        <button
          class="btn btn-success col-12"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#pokemonCollapse"
          aria-expanded="false"
          aria-controls="pokemonCollapse"
        >
          <!-- <img
            src="assets/img/pokemon.png"
            alt="pokeLogo"
            style="width: 32px; height: 32px"
          /> -->
          <mat-icon>arrow_drop_down_circle</mat-icon>
          POKEMON
        </button>
        <!-- MENU COLLAPSE -->
        <div
          id="pokemonCollapse"
          class="collapse collapse-vertical col-12 col-md-12 col-lg-12"
        >
          <nav class="navbar mt-0 p-0">
            <button
              [routerLink]="'/pokemon-page'"
              class="btn btn-dark col-12"
              style="background-color: rgb(60, 66, 69)"
            >
              POKEMON PAGE
            </button>
            <button
              [routerLink]="'/ability-page'"
              class="btn btn-dark col-12"
              style="background-color: rgb(60, 66, 69)"
            >
              ABILITY PAGE
            </button>
            <button
              [routerLink]="'/type-page'"
              class="btn btn-dark col-12"
              style="background-color: rgb(60, 66, 69)"
            >
              TYPE PAGE
            </button>
          </nav>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
