<div class="app-ability">
  <div
    class="card border-secondary m-auto mt-4 bg-dark text-light"
    style="max-width: 800px"
  >
    <div class="m-auto mt-3 mb-3 col-md-11">
      <h1>ABILITIES</h1>
      <span>total: {{ ability_count }}</span>
      <div class="input-group">
        <span class="input-group-text bg-dark text-light" id="basic-addon1">
          <!-- search -->
          <mat-icon>search</mat-icon>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="insert name or id"
          aria-label="Ability"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>

    <div class="card-body text-secondary p-0">
      <table class="table table-striped m-0">
        <thead class="table-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col"></th>
            <th scope="col">name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody
          *ngFor="let data of ability_results | slice: 0:6; let i = index"
          class="table-success"
        >
          <tr>
            <th scope="row" style="width: 25px">{{ i + 1 }}</th>
            <td scope="row" style="width: 40px"></td>
            <td scope="row">{{ data["name"] }}</td>
            <td scope="row" style="width: 50px">
              <button class="btn btn-dark">
                <!--(click)="goAbilityInfoPageClick()-->
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-dark col-sm-8 col-md-3 col-lg-2 float-end">
        <!-- next -->
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
      <button class="btn btn-dark col-sm-8 col-md-3 col-lg-2 float-end">
        <!-- previous -->
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
