<div class="app-pokemon">
  <div class="card m-auto mt-4 mb-4 bg-dark" style="max-width: 800px">
    <div class="bg-dark text-light rounded-top">
      <div class="m-auto mt-3 mb-3 col-md-11">
        <h1>POKEMONS</h1>
        <h3>total: {{ pokemon_count }}</h3>
        <div class="input-group">
          <span
            class="input-group-text bg-dark"
            id="basic-addon1"
            style="color: #ffffff"
          >
            <!-- search -->
            <mat-icon>search</mat-icon>
          </span>
          <input
            [(ngModel)]="pokemon_results"
            type="search"
            class="form-control"
            placeholder="insert name or id"
            aria-label="Pokemon"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!--[routerLink]="'/pokemon-page/pokemon-info/'" -->
        <!--[routerLink]="'/pokemon-page/pokemon-info/' + (offset + index)" -->

        <button
          class="black-btn col-md-4"
          *ngFor="
            let index = index;
            let data;
            of: pokemon_results | slice: offset:limit | pokemonSearch: '':''
          "
          (click)="goPokemonInfoPageClick(offset + index)"
          [routerLink]="'/pokemon-page/pokemon-info/'"
        >
          <div>
            <div class="bold">{{ offset + index + 1 }}</div>
            <div>{{ data["name"] }}</div>
            <img
              *ngIf="pokemon_img"
              [src]="pokemon_img + (offset + index + 1) + '.png'"
              alt="pokemon_sprite"
              width="96"
              height="96"
              noresize="noresize"
            />
          </div>
        </button>
      </div>

      <div class="row">
        <div class="text-light col-md-4 mt-1">
          <h3>{{ offset + 1 }}-{{ limit + 1 }}</h3>
        </div>
        <button
          class="btn btn-dark float-end col-md-4"
          (click)="goPreviousPageClick(offset, limit)"
        >
          <!-- previous -->
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button
          class="btn btn-dark float-end col-md-4"
          (click)="goNextPageClick(offset, limit)"
        >
          <!-- next -->
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
