<div class="app-pokemon">
  <div class="card m-auto mt-4 mb-3 bg-transparent" style="max-width: 800px">
    <div class="bg-dark text-light opacity-80 rounded-top">
      <div class="m-auto mt-3 mb-3 col-md-11">
        <h1>POKEMONS</h1>
        <h3>total: {{ pokemon_count }}</h3>
        <div class="input-group">
          <span
            class="input-group-text bg-dark"
            id="basic-addon1"
            style="color: #ffffff"
          >
            <!-- search -->
            <mat-icon>search</mat-icon>
          </span>
          <input
            [(ngModel)]="pokemon_results"
            type="search"
            class="form-control"
            placeholder="insert name or id"
            aria-label="Pokemon"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <!-- <button class="btn btn-dark col-sm-8 col-md-3 col-lg-2">next</button> 
      <button class="btn btn-dark col-sm-8 col-md-3 col-lg-2">previous</button> -->
    </div>
    <div class="container">
      <div class="row mb-3">
        <button
          class="black-btn col-md-4"
          *ngFor="
            let i = index;
            let data;
            of: pokemon_results | pokemonSearch: '':''
          "
        >
          <div>
            <div class="bold">{{ i + 1 }}</div>
            <div>{{ data["name"] }}</div>
            <img
              *ngIf="pokemon_img"
              [src]="pokemon_img + (i + 1) + '.png'"
              alt="pokemon_sprite"
              width="96"
              height="96"
              noresize="noresize"
            />
          </div>
        </button>
      </div>
    </div>
    <div class="row float-end"></div>
  </div>
</div>
