<div class="app-home-page">
  <div class="container">
    <!-- <p>home-page</p> -->
    <div
      class="row justify-content-center m-0 mt-4 mb-2 pb-4 pt-4 bg-dark text-light rounded"
      style="text-align: center"
    >
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img
          src="assets/img/pokemonImg.png"
          alt="pokemonImg"
          style="width: 200px; height: 200px"
        />
        <button
          [routerLink]="'/pokemon-page'"
          class="btn btn-success col-md-12"
          style="width: 200px"
        >
          POKEMONS
        </button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img
          src="assets/img/abilityImg.png"
          alt="abilityImg"
          style="width: 200px; height: 200px"
        />
        <button
          [routerLink]="'/ability-page'"
          class="btn btn-success col-12"
          style="width: 200px"
        >
          ABILITIES
        </button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <img
          src="assets/img/typeImg.png"
          alt="typeImg"
          style="width: 200px; height: 200px"
        />
        <button
          [routerLink]="'/type-page'"
          class="btn btn-success col-12"
          style="width: 200px"
        >
          TYPES
        </button>
      </div>
    </div>
  </div>
</div>
