<div class="app-home-page">
  <p>HOME-PAGE</p>
  <div class="row justify-content-center m-0 p-0">
    <div class="col-sm-12 col-md-12">
      <app-pokemon></app-pokemon>
    </div>
    <div class="row justify-content-center m-0 p-0">
      <div class="cols-sm-12 col-md-4">
        <app-item></app-item>
      </div>
      <div class="col-sm-12 col-md-4">
        <app-ability></app-ability>
      </div>
      <div class="col-sm-12 col-md-4">
        <app-type></app-type>
      </div>
    </div>
  </div>
</div>
